* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.interno {
    height: 90vh;
}

.page-footer {
    color: white;
    background-image: linear-gradient( to right, red, white);
}

.fab {
    font-size: 25px;
    color: white;
}

.fab:hover {
    color: #00ffff;
}

.container-fluid {
    padding: 0;
}

/* LOADING */

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #22a6b3;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.a {
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.tiraDisplay {
    display: none;
}

.card-pokemon {
    animation: fade 2s backwards;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(-35%)
    }
    to {
        opacity: 1;
        transform: translateX(0%)
    }
}

.trocarImg {
    animation: fade 1s backwards;
}

#rodadas, #pontuacao {
    visibility: hidden;
}

.remove {
    display: none;
}

.pokemonSorteado-oculto {
    filter: brightness(0%);
}

.pokemonSorteado-visible {
    filter: brightness(100%);
}

.btn-tela-finalizar {
    font-size: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 9px;
    margin: 2px;
}